In [1]:
# Import the requests library.
import requests as r
import pandas as pd
import numpy as np
from itertools import product

# Import the API key.
from config import Yelp_API_Key

In [2]:
# Define the API key, Endpoint, and Header
key = Yelp_API_Key
url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization':'bearer %s' % key}

In [10]:
# Read in the zip code csv file that we extracted from the HHI dataset
zips_data_df = pd.read_csv("data/HH/TX2_Zips_List.csv", index_col=None,dtype={"Zip_Code":"string"})

In [11]:
zips_data_df.head()

  State_ab Zip_Code
0       TX    77095
1       TX    77096
2       TX    77098
3       TX    77099
4       TX    77235

In [4]:
# Scrape

# Include list of addresses and 100 results
addresses = zips_data_df
offset = np.arange(0,100,50)

# Create list of tuples of combinations between addresses and offset
tuples = list(product(addresses, offset))

In [5]:
# Use a for loop to store results into list of lists, and turn that into a DF
# Empty list
list = []

# Future DF columns
cols = ['Name', 'Type', 'Address', 'Zip Code']

# For Nested loops

# Outer loop retrieves data from Yelp
for index, row in addresses.iterrows():
    current_zip = row['Zip_Code']
    search_parameters = {
        'location': current_zip,
        'term': 'fast food',
        'radius': 5000,
        'limit': 50,
        'offset': index}
    resp = r.get(url, headers=headers, params=search_parameters)
    raw_data = resp.json()
# Displays each zip code as it is run through the API so that we can track progress and identify when/where a problem occurs
    print(current_zip)
    try:
        
#Inner loop appends the retrieved data to our list so that it's usable
         for business in raw_data['businesses']:
                name = business['name'],
                food_type = business['categories'][0]['alias']
                address = business['location']['address1'],
                zip_code = business['location']['zip_code'],
                list.append([name, food_type, address, zip_code])
    # Displays any errors that appear
    except KeyError as e:
        print (f"Caught an error at line {e}")
        pass
    
df = pd.DataFrame.from_records(list, index='Name', columns=cols)

# Counts the total number of records returned    
print(f'Total Records: {len(df)}')

df.head(2)

77095
77096
77098
77099
77235
77301
77302
77304
77306
77320
77327
77331
77332
77335
77338
77339
77345
77346
77350
77353
77356
77357
77358
77360
77372
77373
77375
77377
77378
77379
77380
77381
77382
77385
77386
77388
77389
77396
77401
77406
77412
77414
77417
77418
77419
77429
77435
77437
77441
77445
77447
77449
77450
77459
77461
77465
77466
77469
77471
77474
77477
77478
77479
77480
77482
77484
77486
77488
77489
77493
77494
77498
77501
77502
77503
77504
77506
77510
77511
77515
77518
77522
77530
77532
77533
77534
77535
77536
77539
77541
77545
77546
77547
77550
77551
77553
77563
77568
77571
77573
77575
77580
77583
77584
77586
77588
77590
77598
77611
77612
77613
77614
77619
77625
77627
77631
77632
77640
77642
77651
77655
77656
77657
77660
77662
77664
77665
77701
77703
77705
77706
77707
77708
77801
77802
77803
77807
77830
77833
77835
77836
77840
77842
77845
77856
77859
77864
77868
77879
77902
77954
77957
77963
77964
77975
77979
77983
77990
77994
77995
78003
78006
78011
78013
78014
78015
78016
78017
78023
78024
78028
78040
78041
78043
78045
78046
78052
78059
78061
78064
78065
78069
78071
78072
78076
78102
78109
78113
78114
78115
78118
78121
78130
78133
78140
78141
78147
78148
78151
78154
78155
78160
78164
78201
78202
78203
78207
78209
78210
78211
78212
78213
78214
78216
78217
78218
78219
78220
78221
78222
78223
78224
78225
78226
78227
78228
78229
78230
78231
78232
78233
78234
78237
78238
78239
78240
78242
78244
78245
78247
78249
78250
78251
78252
78253
78254
78257
78258
78259
78263
78332
78336
78339
78342
78355
78359
78361
78362
78364
78368
78373
78374
78377
78380
78381
78384
78387
78389
78390
78401
78403
78404
78405
78408
78410
78411
78412
78413
78414
78415
78416
78418
78460
78501
78503
78504
78520
78521
78537
78538
78540
78550
78557
78559
78562
78566
78569
78572
78576
78577
78578
78580
78582
78584
78586
78589
78595
78596
78599
78602
78606
78610
78611
78612
78613
78617
78620
78624
78626
78628
78629
78631
78633
78634
78639
78640
78641
78643
78644
78645
78648
78652
78653
78654
78660
78662
78664
78665
78666
78667
78676
78681
78701
78702
78703
78704
78705
78713
78717
78721
78722
78723
78724
78726
78727
78728
78729
78731
78732
78733
78738
78741
78744
78745
78746
78748
78749
78750
78753
78754
78757
78758
78759
78802
78834
78837
78840
78842
78852
78873
78880
78934
78941
78942
78945
78954
78956
78957
78959
78962
79001
79007
79009
79013
79014
79015
79019
79022
79027
79029
79031
79045
79054
79065
79070
79072
79079
79084
79088
79097
79102
79103
79106
79107
79108
79109
79110
79118
79201
79235
79236
79244
79245
79252
79316
79323
79329
79331
79336
79339
79351
79353
79356
79357
79360
79363
79364
79378
79382
79401
79403
79407
79410
79411
79412
79413
79414
79415
79423
79424
79501
79502
79504
79505
79510
79512
79520
79521
79526
79529
79536
79543
79549
79556
79562
79567
79601
79602
79603
79605
79606
79701
79703
79705
79707
79714
79720
79731
79735
79739
79742
79744
79745
79756
79760
79772
79821
79830
79835
79838
79839
79845
79851
79853
79902
79903
79904
79905
79907
79912
79915
79922
79924
79925
79927
79928
79930
79935
79936
79938
Total Records: 1060

,Type,Address,Zip Code
Name,,,
"(Freddy's Frozen Custard & Steakburgers,)",hotdogs,"(12407 FM1960 W,)","(77065,)"
"(Simply Greek,)",greek,"(8475 North,)","(77095,)"

In [7]:
df.to_csv('data/Yelp_Results/State_TX2.csv', columns = ["Type", "Address", "Zip Code"], index_label= "Name", header = True)