In [2]:
import numpy as np 
import chardet
import pandas as pd

In [3]:
# For Initial Pull of Raw Data
with open('data/HH/kaggle_income.csv', 'rb') as f:
    enc = chardet.detect(f.read())
US_HH_Income_df = pd.read_csv('data/HH/kaggle_income.csv', encoding = enc['encoding'])
US_HH_Income_df = US_HH_Income_df.set_index('State_ab')

In [4]:
nRow, nCol = US_HH_Income_df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 32526 rows and 18 columns

In [5]:
#US_HH_Income_df.dtypes
US_HH_Income_df.columns.tolist()

['id',
 'State_Code',
 'State_Name',
 'County',
 'City',
 'Place',
 'Type',
 'Primary',
 'Zip_Code',
 'Area_Code',
 'ALand',
 'AWater',
 'Lat',
 'Lon',
 'Mean',
 'Median',
 'Stdev',
 'sum_w']

In [12]:
# Cleaning the data

# Drop unwanted columns
US_HH_Income_df = US_HH_Income_df.drop(["id",'State_Code','State_Name','County','Place','Type','Primary',
                                        'Area_Code','ALand','AWater','Mean','sum_w'], axis = 1)

# Drop duplicate Zip Codes
US_HH_Income_df = US_HH_Income_df.drop_duplicates(["Zip_Code"])

# Drop PR and DC from DataFrame
US_HH_Income_df = US_HH_Income_df.drop('PR')
US_HH_Income_df = US_HH_Income_df.drop('DC')

# Drop null values
US_HH_Income_df= US_HH_Income_df.dropna()

# Pad zip codes with fewer than 5 numbers with leading zeros
US_HH_Income_df['Zip_Code'] = US_HH_Income_df['Zip_Code'].map("{:05d}".format)

US_HH_Income_df

                    City Zip_Code        Lat         Lon  Median  Stdev
State_ab
AL             Chickasaw    36611  30.771450  -88.079697   30506  33101
AL            Louisville    36048  31.708516  -85.611039   19528  43789
AL            Columbiana    35051  33.191452  -86.615618   31930  57348
AL               Satsuma    36572  30.874343  -88.009442   52814  47707
AL        Dauphin Island    36528  30.250913  -88.171268   67225  54270
...                  ...      ...        ...         ...     ...    ...
WY              Pinedale    82941  42.957147 -109.651015   94509  50057
WY           Green River    82935  41.497363 -109.456039  300000  47849
WY                 Lyman    82937  41.295517 -110.323344   70155  36558
WY               Worland    82401  44.014369 -107.956379  300000  50142
WY          Diamondville    83116  41.819843 -110.556212   70752  52272

[14664 rows x 6 columns]

In [ ]:
# Removing top clustering of Incomes at data limit
Income_under_300k_df = US_HH_Income_df[(US_HH_Income_df["Median"]<300000)]

#Sorting to ensure accuracy
Income_under_300k_df.sort_values(by=["Median"])

In [ ]:
#Exporting the data as csv files

US_HH_Income_df.to_csv('data/cleaned_HH_Income.csv', sep = ',', header = True)
US_HH_Income_df.to_csv('data/cleaned_HH_Income_Zips_List.csv', columns = ["Zip_Code"], header = True)
Income_under_300k_df.to_csv('data/HH/cleaned_HH_Income_under300k.csv', sep = ',', header = True)