In [1]:
# Import the requests library.
import requests as r
import pandas as pd
import numpy as np
from itertools import product
# Import the API key.
from config import YELP_API_key


# Define the API key, Endpoint, and Header
key = YELP_API_key
url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization':'bearer %s' % key}
## Reading in the zip code csv file that we extracted from the HH Income dataset
zips_data_df = pd.read_csv('tiny_zips_for_Julie.csv',index_col=None,dtype={"Zip_Code":"string"})

In [2]:
# Include 2 addresses and 500 results
addresses = zips_data_df
offset = np.arange(0,100,50)
# Create list of tuples of combinations between addresses and offset
tuples = list(product(addresses, offset))

In [3]:
# Empty list
list = []
# Future DF columns
cols = ['Name', 'Type', 'Address', 'Zip Code']
# for loop

In [10]:
for index, row in  addresses.iterrows():
    current_zip = row['Zip_Code']
    search_parameters = {
        'location': current_zip,
        'term': 'fast food',
        'radius': 5000,
        'limit': 50,
        'offset': index}
    resp = r.get(url, headers=headers, params=search_parameters)
    raw_data = resp.json()
    print(current_zip)
    try:
         for business in raw_data['businesses']:
                name = business['name'],
                food_type = business['categories'][0]['alias']
                address = business['location']['address1'],
                zip_code = business['location']['zip_code'],
                list.append([name, food_type, address, zip_code])
    except KeyError as e:
        print (f"Caught an error at line {e}")
        pass
df = pd.DataFrame.from_records(list, index='Name', columns=cols)
print(f'Total Records: {len(df)}')
df.head()

01050
01069
01056
01020
01013
01040
01022
01077
01030
01001
01036
01002
01033
01075
01035
01062
01060
01027
01038
01005
Total Records: 224

                                       Type               Address  Zip Code
Name
(McDonald's,)                        coffee  (1184 Thorndike St,)  (01069,)
(Gin Mill,)                        divebars       (3095 Main St,)  (01069,)
(Steaming Tender,)             tradamerican        (28 Depot St,)  (01069,)
(Domino's Pizza,)             chicken_wings  (1219 Thorndike St,)  (01069,)
(Roadside Pizza & Grinders,)          pizza  (1037 Thorndike St,)  (01069,)

In [5]:
#df.sort_values(by='Zip Code')
#df['Zip Code'].nunique()
for col in df:
  print(df[col].unique())

['coffee' 'divebars' 'tradamerican' 'chicken_wings' 'pizza' 'sandwiches'
 'diners' 'burgers' 'hotdogs' 'markets' 'icecream' 'mexican' 'cafes'
 'convenience' 'servicestations' 'seafood' 'pubs' 'chinese' 'delis'
 'cocktailbars' 'breakfast_brunch' 'bars' 'italian']
[('1184 Thorndike St',) ('3095 Main St',) ('28 Depot St',)
 ('1219 Thorndike St',) ('1037 Thorndike St',) ('1049 Thorndike St',)
 ('1315 Park St',) ('419 Center St',) ('481 Center St',)
 ('631 Center St',) ('862 East St',) ('477 Center St',)
 ('1782 Westover Rd',) ('1307 Memorial Dr',) ('1535 Memorial Dr',)
 ('530 Memorial Dr',) ('1483 Granby Rd',) ('665 Boston Rd',)
 ('639 Memorial Dr',) ('555 Memorial Dr',) ('1460 Memorial Dr',)
 ('474 B Memorial Dr',) ('1290 Saint James Ave',) ('1048 Granby Rd',)
 ('1142 Berkshire Ave',) ('1116 StJames Ave',) ('350 Burnett Rd',)
 ('771 Page Blvd',) ('1375 Carew St',) ('1525 Memorial Dr',)
 ('755 Page Blvd',) ('1284 Memorial Dr',) ('1395 Liberty St',)
 ('757 Boston Road',) ('727 Boston Rd',) ('809 Boston Rd',)
 ('50 Holyoke St',) ('2199 Northampton St',) ('235 Whiting Farms Rd',)
 ('786 Memorial Dr.',) ('935 Riverdale Street',) ('1471 Memorial Drive',)
 ('931 Riverdale St',) ('935 Riverdale St',) ('1048 Riverdale St',)
 ('983 Riverdale St',) ('2175 Northampton St',) ('25 Morgan Road',)
 ('2392 Main St',) ('27 Holyoke St',) ('233 Whiting Farms Rd',)
 ('33 Border Way',) ('2194 N Hampton St',) ('2241 N Hampton St',)
 ('632 State St',) ('777 Meadow St',) ('352 Riverdale Rd',)
 ('167 Chicopee St',) ('4 Kendall St',) ('1068 Riverdale St',)
 ('782 State St',) ('757 Riverdale St',) ('1053 Riverdale St',)
 ('633 Liberty St.',) ('660 Liberty St',) ('2177 Northampton St',)
 ('2433 Main Street',) ('232 Lyman St',) ('37 Commercial St',)
 ('98 Union St',) ('90 William St',) ('429 Memorial Ave',)
 ('34 Enfield St',) ('232 Worthington St',) ('95 Elm St',)
 ('916 Suffield St',) ('1236 Main St',) ('820 W Columbus Ave',)
 ('1208 Main St',) ('1305 Memorial Ave',) ('1 Bridge St',)]
[('01069',) ('01056',) ('01020',) ('01119',) ('01104',) ('01151',)
 ('01109',) ('01040',) ('01089',) ('01107',) ('01013',) ('01105',)
 ('01103',) ('01027',) ('06082',) ('01001',) ('01060',)]

In [6]:
###for index, row in  addresses.iterrows():
    #current_zip = row['Zip_Code']
   # search_parameters = {
  #      'location': current_zip,
 #       'term': 'fast food',
#        'radius': 8000,
#        'limit': 50,
#        'offset': index}
#    resp = r.get(url, headers=headers, params=search_parameters)
#    raw_data = resp.json()
#    try:
#    for business in raw_data['businesses']:
#        name = business['name'],
#        food_type = business['categories'][0]['alias']
#        address = business['location']['address1'],
#        zip_code = business['location']['zip_code'],
#        list.append([name, food_type, address, zip_code])
#    df = pd.DataFrame.from_records(list, index='Name', columns=cols)
#print(f'Total Records: {len(df)}')
###df.head()

In [7]:
current_zip

'01005'

In [8]:
#df.head()
#display(df.info)
#display(df.describe)